.admin-screen{
    display: grid;
    place-items: center;
    background-color: white;
    height: 90vh;
    transform-origin: 0% 0%;
    position: relative;
}

.admin-screen-body{
    background-color: #ededed;
    display: flex;
    height: 100%;
    width: 100%;
    box-shadow: -1px 4px 20px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    border-top: 1px solid lightgrey;
}

.adminRoutes{
   flex: 0.8;
    overflow: scroll;
}