.backHome {
  margin: 10px 0;
}

.backHome i {
  font-size: 22px;
  color: black;
}

.backHome i:hover {
  color: #a09e99;
}

.productScreen{
  padding: 10px 40px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .productInfo {
  display: flex;
  justify-content: space-around;
}

.productInfo div{
  flex: 1;
}

.productInfo .productImage {
  width: 500px;
  height: 500px;
  border: 0px solid black;
}

.productInfo .productImage img {
  width: 100%;
  height: 100%;
}

.productInfo .productDetail h1{
  padding-bottom: 10px;
}

.productInfo .productDetail .price{
  padding: 10px 0;
}

.productInfo .productDetail .description{
  padding: 10px 0;
}

.productInfo .productDetail {
  margin-left: 7vh;
  margin-right: 7vh;
  flex: 1;
}

.productInfo .priceContainer{
  flex: .7;
}

.priceContainer .priceCard .listItem{
  display: flex;
  border-bottom: 1px solid gray;
  padding: 10px;
  align-items: center;
}

.priceContainer .priceCard .listItem p {
  flex: 1;
}

.priceContainer .priceCard .listItem .addToCart{
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px 60px;
  border: 1px solid black;
}

.priceContainer .priceCard .listItem .addToCart:active{
  background-color: white;
  color: black;
}

.reviewContainer {
  margin-top: 15px;
}

.reviewContainer .writeReview {
  margin-bottom: 15px;
  width: fit-content;
}

.writeReview .form-control {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
}

.writeReview .form-control label {
  margin-bottom: 10px;
  font-size: 18px;
}
.writeReview .form-control select {
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid gray;
}
.writeReview .form-control textarea {
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid gray;
}

.submitReview {
  background-color: #1b1b19;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  left: 12px;
}
.submitReview:active {
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media screen and (max-width: 450px) {
  .productScreen {
    padding: 10px 10px;
}
  .container .productInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.productInfo .productImage {
  width: 300px;
  height: 300px;
  border: 0px solid black;
}

.productInfo .productDetail {
  margin-top: 10px;
  flex: 1 1;
  align-self: flex-start;
  margin-left: 20px;
}
.productInfo .priceContainer {
  width: 95%;
}
}