.profileScreen {
  padding: 10px;
}

.profileScreen .profileContainer{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profileScreen .userProfile {
  padding: 0 10px;
  flex: 0.4;
  border-right: 0.1px solid gray;
}

.profileScreen .userProfile h3,
.profileScreen .userOrders h3 {
  font-size: 26px;
  font-weight: 500;
}

.profileScreen .userProfile .userInfo .form .form-control {
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  padding: 10px 10px;
  color: rgb(92, 90, 90);
}

.profileScreen .userProfile .userInfo .form .form-control label {
  margin-bottom: 5px;
}

.profileScreen .userProfile .userInfo .form .form-control input {
  font-size: 16px;
  padding: 5px 10px;
  outline-color: black;
  border: 2px solid gray;
  border-radius: 5px;
}

/* .profileScreen .userProfile .userInfo .form .updateBtn {
  margin: 0px 15px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
}

.profileScreen .userProfile .userInfo .form .updateBtn:active {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.profileScreen .userProfile .userInfo .form .logOut{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.profileScreen .userProfile .userInfo .form .logOut:active {
  background-color: black;
  color: white;
  border: 1px solid black;
} */

.btnContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
   
.btnContainer .btn{
  background-color: white;
  color: #573b31;
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  margin: 10px;
  border: 2px solid #573b31;
}

.btnContainer .logOut{
  background-color: #573b31;
  color: white;
}

.btnContainer .btn:active{
  background-color: white;
  color: black;
  border: 2px solid #573b31;
}

.profileScreen .userOrders {
  padding: 0 10px;
  flex: 1;
}

.profileScreen .userOrders .myOrders {
  border: 1px solid #ccc;
  color: gray;
}

.profileScreen .userOrders .myOrders .tabelBody {
  background-color: #f1f1f1;
}

.profileScreen .userOrders .myOrders .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

.profileScreen .userOrders .myOrders .row .rowItem {
  flex: 1;
  border-right: 1px solid #ccc;
  margin-left: 10px;
}

.profileScreen .userOrders .myOrders .row .rowItem button {
  border: none;
  background-color: white;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.profileScreen .userOrders .myOrders .row .rowItem button:hover {
  background-color: #f1f1f1;
}

.orderContainer{
  /* background-color: red; */
  max-height: 85vh;
  overflow: scroll;
}

.orderItem{
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
}

.orderItem .item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.orderItem .item div{
  flex: 1;
  margin: 5px;
}

.orderItem .item div .head{
  font-size: medium;
  font-weight: 600;
  margin-bottom: 6px;
}

.orderItem .item div .orderStatus{
   background-color: red;
   width: fit-content;
   padding: 2px 10px;
   border-radius: 5px;
}
.orderItem .item div .orderStatus p{
  color: white;
}

.viewBtn{
   border: 1px solid black;
   background-color: #573b31;
   padding: 5px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .profileScreen .profileContainer{
    flex-direction: column;
  }
  .profileScreen .userProfile{
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }
  .profileScreen .userProfile .userInfo .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profileScreen .userProfile .userInfo .form .form-control{
   width: 100%;
   align-items: center;
   margin: 0;
   padding: 5px;
  }
  .profileScreen .userProfile .userInfo .form .form-control label{
   align-self: flex-start;
   margin-left: 40px;
  }


}