.container {
  padding: 10px 60px;
  margin-top: 10px;
}

.tabel {
  border: 1px solid gray;
}

.tabelHead p {
  font-weight: bold;
}

.tabelItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tabelItem p {
  flex: 1;
  border: 1px solid gray;
  margin: 0;
  padding: 10px 10px;
  height: 14px;
  text-align: center;
}

.tabelItem p a {
  color: black;
}
