.header {
  background-color: #573b31;
  position: sticky;
  z-index: 1;
  width: 100%;
  height: 70px;
  top: 0;
}

.header .headerItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header .logoContainer .logo {
  text-decoration: none;
}
.header .logoContainer .logo h1 {
  color: white;
  font-size: 34px;
  font-family: cursive;
}
.header .logoContainer .logo span {
  color: white;
  position: relative;
  top: -44px;
  font-size: 8px;
  left: 29px;
}

.header .navigation {
  display: block;
}

.header .navigation ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header .navigation ul li {
  margin: 5px 15px;
}

.header .navigation ul li a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 18px;
}

.header .navigation ul li a:hover,
.header .navigation ul li a:focus {
  color: rgb(224, 219, 219);
}

.header .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.header .icons a i{
  font-size: 18px;
  color: white;
}

.header .icons .icon {
  display: block;
}


/* .header .barIcon {
  display: none;
} */

.header .drawer {
  background-color: #e18d10;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  z-index: 1;
}
.header .active {
  display: none;
}

.drawerHeader {
  background-color: #e18d10;
  position: relative;
  width: 100%;
  height: 70px;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.drawerHeader i:hover {
  color: rgb(224, 219, 219);
  cursor: pointer;
}


.drawerBody ul {
  list-style: none;
}

.drawerBody ul li {
  margin: 25px 10px;
}

.drawerBody ul li a {
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-size: 18px;
}

footer {
  border-top: 1px solid #ccc;
  background-color: white;
  position: relative;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer h3{
  margin: 10;
  text-align: center;
}

 .icons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px
}

.icons a{
  font-size: 18px;
   text-decoration: none;
    color: black;
}

.icons a i{
  font-size: 25px;
  margin: 0 10px;
}


.message {
  position: absolute;
  width: 85%;

  backdrop-filter: blur(5px);
}

.danger {
  background-color: #ff00003d;
}

.success {
  background-color: #c3fbc3;
}

.loaderContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.searchForm{
  position: relative;
}
.searchForm input{
  padding: 5px 27px;
  outline: none;
  width: auto;
  width: 20rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.paginate{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.paginate li{
  margin: 0 5px;
  font-size: 18px;
  cursor: pointer;
}

.paginate li a{
  color: black;
  padding: 5px;
}

/* Tab Container */

.bottomTabContainer{
  background-color: white;
  position: sticky;
  bottom: 0;
  border-top: 2px solid #ccc;
  display: none;
}

.bottomTab{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

.bottomTabItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #573b31;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header .icons .icon {
    display: none;
  }
  .searchForm input{
    width: 12rem;
  }
  .searchForm{
    display: none;
  }
  .bottomTabContainer{
    display: block;
  }
  
}